@import url("https://use.typekit.net/fzk2bzs.css");


html{
  scroll-behavior: smooth;
}
body{
 margin: auto;
 color: black;
}

.topmenu {
  position: fixed;
  top: 0;
  width: 100%;
}

h1{
   font-family: rockwell-nova ;
   font-size: 2.2vw;
   
}

h2{
   font-size: 1.8vw;
   font-family: rockwell-nova;
   
}

p{
 font-family: rockwell-nova;
 font-size: 1.5vw;
}

.Logo img{
 max-width: 20%;
 height: auto;
 padding: 0.5%;;
}


.PageTitle{
 color: white;
 background-color: #7a4488;
 overflow: hidden;
 text-align: center;
 font-family: rockwell-nova;
 z-index: 2;
 padding: 0;
 font-size: 1.2vw;
 font-style: italic;
}


header nav{
 display: flex;
 justify-content: space-around;
   background-color: #ad77bb;
   font-family: rockwell-nova;
    font-size: 1.5vw;
    }


header a{
 color: white;
 text-decoration: none;
 width: 13%;
 margin: auto;
 text-align: center;
 background-color: #ad77bb;
 padding-top: 3vh;
 padding-bottom: 3vh;

 }

nav a:hover{
  background-color: #7a4488;
 transition: 0.2s;
}

.DonateLink{
  background-color: #8bdcf9;
  color: black;
  font-weight: 600;

}


.DonateLink:hover{
  background-color: #1db4e9;
}


.Main{
  width: 85%;
  margin: auto;
}


footer{
 background-color: #7a4488;
 text-align: center;
 width: 100%;
 height: auto;
 color: white;
 margin: auto;
 padding-top: 2%;
 padding-bottom: 2%;

}

footer p{
color: white;
 margin: auto;
 padding: 1vh;

}



.dropdown {
  color: white;
  text-decoration: none;
  width: 13%;
  margin: auto;
  text-align: center;
  background-color: #ad77bb;
  padding-top: 3vh;
  padding-bottom: 3vh;
  cursor: pointer


}

.dropdown .dropbtn {
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;

}

 .dropdown:hover, .dropbtn {
  background-color: #7a4488;

}

.dropdown-content a:hover {
  background-color: #7a4488;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  width: auto;
  padding-top: 2vh;
  width: 15%

}

.dropdown-content a {
  float: none;
  width: 100%;
  background-color: #7a4488;
  color: white;
  text-decoration: none;
  display: block;
  text-align: left;
  padding-top: 2vh;
  padding-bottom: 2vh;
  
}

.dropdown-content a:hover {
  background-color: #ad77bb;

}

.dropdown:hover .dropdown-content {
  display: block;
}

#SmallMenu{
  width: 100%;
  display: none;
}

#SmallMenu a{
  background-color: #ad77bb;
  margin: auto;
  width: 100%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  color: white;
  padding-top: 1vh;
  padding-bottom: 1vh;
  border: 0.1vw solid #333349;
    font-family: rockwell-nova;
    font-size: 1.8vw;;
}

#SmallMenu a:hover{
  background-color: #7a4488
}

#SmallMenuOpen{
  color: black;
  cursor: pointer;
  font-size: 5vw;
  display: none;
  padding-left: 40vw;
  padding-top: 1vh;
}


@media screen and (max-width: 700px) {
  .Navigation, .dropdown, .DonateLink{
    display: none;
  }
  
  #SmallMenuOpen{
    display: flex;
  }
}


@media screen and (min-width: 1200px) {
p{
  font-size: 1vw;;
}

}