@import url("https://use.typekit.net/rwg4trk.css");

body{

 margin: auto;
 color: black;
}


h1{
   font-family: Rockwell ;
   font-size: 3vw;
   font-weight: 400;

}

h2{
   font-size: 3vw;
   font-family: Rockwell;
}

p{
 font-family: Rockwell;
 font-size: 1.5vw;
}


.Logo img{
 max-width: 25%;
 padding: 1vw;;

}


.PageTitle{
 color: white;
 background-color: #7a4488;
 overflow: hidden;
 text-align: center;

}




header nav{
 display: flex;
 justify-content: space-around;
 z-index: 3;
   background-color: #ad77bb;
   font-family: Rockwell;
    font-size: 1.8vw;

}


header a{
 color: white;
 text-decoration: none;
 width: 15%;
 margin: auto;
 text-align: center;
 background-color: #ad77bb;
 padding-top: 4vh;
 padding-bottom: 4vh;



 }

nav a:hover{
  background-color: #7a4488;
 transition: 0.2s;
}





.Main{
  width: 90%;
  margin: auto;
}


footer{
 background-color: #7a4488;
 text-align: center;
 width: 100%;
 height: auto;
 color: white;
 margin: auto;
 padding: 0;
}

footer p{
color: white;
 margin: auto;
 padding: 1vh;

}









.dropdown {
  color: white;
  text-decoration: none;
  width: 15%;
  margin: auto;
  text-align: center;
  background-color: #ad77bb;
  padding-top: 4vh;
  padding-bottom: 4vh;
  cursor: pointer


}

.dropdown .dropbtn {
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;

}

 .dropdown:hover, .dropbtn {
  background-color: #7a4488;

}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  width: 20%;
  padding-top: 3vh;

}

.dropdown-content a {
  float: none;
  width: 100%;
  background-color: #7a4488;
  color: white;
  text-decoration: none;
  display: block;
  text-align: left;

}

.dropdown-content a:hover {
  background-color: #ad77bb;

}

.dropdown:hover .dropdown-content {
  display: block;
}

#SmallMenu{
  width: 100%;
  display: none;
}

#SmallMenu a{
  background-color: #ad77bb;
  margin: auto;
  width: 100%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  color: white;
  padding-top: 1vh;
  padding-bottom: 1vh;
  border: 0.1vw solid #333349;
    font-family: Rockwell;
    font-size: 1.8vw;;
}

#SmallMenu a:hover{
  background-color: #7a4488
}

#SmallMenuOpen{
  color: black;
  cursor: pointer;
  font-size: 5vw;
  display: none;
  padding-left: 40vw;
  padding-top: 1vh;
}
@media screen and (max-width: 700px) {
.Navigation, .dropdown{
  display: none;
}

#SmallMenuOpen{
  display: flex;
}
}

@media screen and (min-width:700px){
  #SmallMenu a{
    display: none;
  }
}



.SlideshowContainer {
  width: 90%;
  position: relative;
  margin: auto;
  overflow: hidden;
}

.SlideshowContainer img, video{
  width: 100%;
  padding-top: 0;
  height: auto;
  max-height: 100%;
  overflow: hidden;
  z-index: -1;



}

.Caption {
  color: white;
  padding: 1vh 1vw;
  position: absolute;
  background-color: #7a4488;
  border: 0.2vw solid black;
  font-size: 2vw;
  text-align: center;
  cursor: pointer;
  z-index: 1;
  text-decoration: none;
  box-shadow: 1px 1px 3px black;

}

.Caption:hover{
  transition: 0.2s;
  transform: scale(1.03);
  box-shadow: 2px 2px 5px black;
  background-color: #7a4488;
  color: black;
}

.Dot {
  height: 2vw;
  width: 2vw;
  background-color: #7a4488;
  border-radius: 40%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.background {
  background-color: #ad77bb;
}

/* Fading animation */
.FadeAnimation {
  -webkit-animation-name: FadeAnimation;
  -webkit-animation-duration: 1.5s;
  animation-name: FadeAnimation;
  animation-duration: 1.5s;
}

@-webkit-keyframes FadeAnimation {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes FadeAnimation {
  from {opacity: .4}
  to {opacity: 1}
}

.ProjectsCollection{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-evenly;

}

.Project{
  color: white;
  width: 40%;
  height: auto;
  margin: auto;
  margin: 1%;
  border: 0.2vw solid black;
  box-shadow: 1px 1px 3px black;
  overflow: hidden;
  position: relative;
}

.ProjectPortrait{
  color: white;
  width: 30%;
  height: auto;
  margin: auto;
  margin: 1%;
  border: 0.2vw solid black;
  box-shadow: 1px 1px 3px black;
  overflow: hidden;
  position: relative;
}

.Project img, .ProjectPortrait img{
  width: 100%;
  display: block;
  background-color: white;
  height: auto;
}



.ProjectInfo {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}


.Project:hover .ProjectInfo, .ProjectPortrait:hover .ProjectInfo{
  height: 100%;
}

.ProjectText {
  color: black;
  position: absolute;
  top: 30%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
