.Contact{
    width: 100%;
    background-color: #7a4488;
    margin: auto;
    display: flex;
    ;
}

.Links{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    
}

.Links a{
    text-decoration: none;
    color: #7a4488;
    
    
}

.Links a:hover{
    color: black;
}
ul, ol{
    font-family: rockwell-nova;
    font-size: 1.5vw;;
}

.GetSupport{
    margin: auto;
    background-color: white;
    justify-content: center;
    width: 60%;
    border: 1.2vw solid #d5cfd8;
    border-radius: 1vw;
    padding: 1%;
    text-align: center;
}

.Support{
    color: white;
    padding: 0;
    background-color: #7a4488;
    border: 0.2vw solid black;
    font-size: 1.5vw;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 1px 1px 3px black;
    font-family: rockwell-nova;
    width: 30%;
    margin: auto;
}

.Support:hover{
    transition: 0.2s;
    transform: scale(1.03);
    box-shadow: 2px 2px 5px black;
    background-color: #663872;
}

.ServiceImages{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
}

#Services img{
    width: 20%;
    height: auto;
    padding-left: 1%;
    padding-right: 1%;
}

#Services2 img{
    width: 30%;
    margin: auto;
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
    
}
#DomesticAbuse img{
    width: 40%;
    margin: auto;
    height: auto;
    padding-left: 2%;
    padding-right: 2%;
   
}


.Emails{
    text-decoration: none;
    color: #7a4488
}

.Emails:hover{
  text-decoration: none;
  color: #412149
}

table {
    font-family: rockwell-nova;
    border-collapse: collapse;
    width: 90%;
    font-size: 1.5vw;
    border: 0.2vw solid black;
    margin: auto;

  }
  

  th{
      background-color: #7a4488;
      text-align: left;
      padding: 1%;
      border: 0.2vw solid black;
      color: white;

  }

  td{
    text-align: left;
    padding: 1%;
    border: 0.2vw solid black;
    font-weight: 500;
  }
  

  @media screen and (min-width: 1200px) {
    table{
      font-size: 1vw;;
    }
    
    }
